<div class="container">

  <h1>New Form</h1>

  <%= render 'layouts/form'%>

  <!--

<form accept-charset="UTF-8" action="/users" class="new_user"
      id="new_user" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden"
         value="NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo=" />
  <label for="user_name">Name</label>
  <input id="user_name" name="user[name]" type="text" />

  <label for="user_email">Email</label>
  <input id="user_email" name="user[email]" type="email" />

  <label for="user_password">Password</label>
  <input id="user_password" name="user[password]"
         type="password" />

  <label for="user_password_confirmation">Confirmation</label>
  <input id="user_password_confirmation"
         name="user[password_confirmation]" type="password" />

  <input class="btn btn-primary" name="commit" type="submit"
         value="Create my account" />
</form>

  <%= form_tag( '/users/new' , method: "get") do %>
    <%= label_tag(:username ,'username')%> <br>
    <%= text_field_tag (:username )%><br>
    <%= label_tag(:email ,'email')%><br>
    <%= email_field_tag (:email)%><br>
    <%= label_tag(:password ,'password')%><br>
    <%= password_field_tag (:password )%><br>
    <%= label_tag(:password_confirmation , 'confirmation')%><br>
    <%= password_field_tag (:password_confirmation )%><br>
  <%= submit_tag("create") %> 
-->

</div>